[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Maven training - time tracker project
[access "refs/*"]
	owner = group user/deepu431
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/deepu431
	label-Verified = -1..+1 group user/deepu431
	push = +force group user/deepu431
	read = group user/deepu431
	rebase = group user/deepu431
	removeReviewer = group user/deepu431
	submit = group user/deepu431
	exclusiveGroupPermissions = create forgeCommitter label-Code-Review label-Verified push read rebase removeReviewer submit
[access "refs/heads/*"]
	create = group user/deepu431
	push = +force group user/deepu431
	pushMerge = group user/deepu431
	read = group user/deepu431
	exclusiveGroupPermissions = create forgeAuthor forgeCommitter push pushMerge read
[access "refs/tags/*"]
	push = +force group user/deepu431
	exclusiveGroupPermissions = create push
